- @books.each do |book|
  -# - @user.each do |user|
  .bookInfoContents
    .bookInfo
      .bookInfo__top
        .bookInfo__top--user
          -# %b= user.name
          -# さんが新しい本を登録しました！
          新しい本が登録されました
      .bookInfo__main
        .image
          =icon('far', 'smile my-big')
        .spec 
          = link_to book_path(book) do
            .spec__title
              %b= book.title
            .spec__author
              = book.author
      .bookInfo__bottom
        = book.created_at