.inputForm {
  margin: 0 40px 20px 0;
  &__area {
    height: 40px;
    width: 760px;
    padding: 0 5px;
    vertical-align : middle;
    position: relative;
  }
  &__btn {
    height: 40px;
    width: 40px;
    border: none;
    vertical-align : middle;
    background-color: mediumseagreen;
    position: absolute;
    &--icon {
      font-size: 25px;
      color: white;
    }
  }
}
.bookInfoContents {
  display: flex;
  justify-content: center;
  .bookInfo {
    margin-bottom: 20px;
    width: 800px;
    border: double 7px mediumseagreen;
    border-radius: 5px;
    &__top {
      padding: 0 20px;
      justify-content: space-between;
      background-image:linear-gradient(-45deg, rgba(69, 206, 131, 0.756) 25%, rgba(60, 179, 114, 0.694) 25%, rgba(60, 179, 114, 0.694) 50%, rgba(69, 206, 131, 0.756)  50%, rgba(69, 206, 131, 0.756) 75%, rgba(60, 179, 114, 0.694) 75%, rgba(60, 179, 114, 0.694));
      text-align: center;
      height: 40px;
      line-height: 40px;
      &--user {
        b {
          color: white;
          text-shadow    : 
          1px  1px 1px #003366,
          -1px  1px 1px #003366,
          1px -1px 1px #003366,
          -1px -1px 1px #003366,
          1px  0px 1px #003366,
          0px  1px 1px #003366,
          -1px  0px 1px #003366,
          0px -1px 1px #003366;  
        }
      }
    }
    &__main {
      padding: 10px 20px 0 20px;
      display: flex;
      .image {
        .my-big {
          font-size: 50px;
          line-height: 100%;
          margin-right: 20px;
          color: mediumseagreen;
        }
      }
      .spec {
        width: calc(100% - 100px);
        a {
          color: black;
          text-decoration: none;
        }
        &__title {
          font-size: 25px;
        }
        &__author {

        }
      }
    }
    &__bottom {
      font-size: 13px;
      text-align: right;
      padding: 0 10px 5px 0;
    }
  }
}