.contents {
  margin-top: 70px;
  h1 {
    color: white;
    font-weight: bold;
    font-size: 30px;
    background-color: mediumseagreen;
    border-radius: 10px;
  }
  .edit {
    padding: 5px 40px;
    width: 200px;
  }
  .new {
    
  }
  .form {
    margin-top: 10px;
    b {
      font-size: 20px;
    }
    .subtitle {
      margin-bottom: 10px;
    }
  }
}