.contentsBox {
  padding: 30px 150px;
  .titleContent {
    margin-bottom: 50px;
    padding-left: 20px;
    &__title {
      span {
        color: white;
        font-weight: bold;
        padding: 7px;
        border-radius: 5px;
        background-color: mediumseagreen;
      }
      h1 {
        font-size: 50px;
        margin-top: 20px;
        font-weight: bold;
      }
    }
    &__evaluation {
      margin: 10px 40px 0 0;
      .starNum {
        font-size: 25px;
        color: gold;
      }
    }
  }
  .bookData {
    &__main {
      font-size: 25px;
      margin-bottom: 15px;
      span {
        font-weight: bold;
        margin-right: 30px;
      }
      &--author {
        margin-bottom: 10px;
        padding-left: 20px;
      }
      &--publisher {
        padding-left: 20px;
      }
    }
    &__date {
      font-size: 20px;
      display: flex;
      padding-left: 20px;
      font-size: 23px;
      h3 {
        margin-right: 15px;
      }
      &--started {
        display: flex;
        margin: auto 50px 0 0;
      }
      &--finished {
        display: flex;
        margin: auto 0;
      }
    }
    &__impression {
      margin-top: 20px;
      span {
        font-weight: bold;
        font-size: 25px;
        padding-left: 20px;
      }
      .impressionBox {
        min-height: 150px;
        margin-top: 10px;
        padding: 0.5em 1em;
        border: double 4px mediumseagreen;
        border-radius: 5px;
      }
    }
    .button {
      margin-top: 50px;
      display: flex;
      justify-content: space-between;
      padding: 0 50px;
      a {
        text-decoration: none;
        color: white;
      }
      &__edit {
        height: 50px;
        width: 150px;
        border-radius: 5px;
        font-size: 30px;
        text-align: center;
        line-height: 50px;
        background-color: mediumseagreen;
      }
      &__delete {
        height: 50px;
        width: 150px;
        border-radius: 5px;
        font-size: 30px;
        text-align: center;
        line-height: 50px;
        background-color: rgb(208, 208, 208);
        margin-left: 50px;
      }
    }
  }
}