@import "reset";
* {
  box-sizing: border-box;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
@import "books/index";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "users/index";
@import "books/header";
@import "books/show";