.main_content {
  display: flex;
  justify-content: center;
  .booksCard {
    width: 100%;
    .cardHeader {
      &__user {
        margin: 0 0 0 auto;
        width: 300px;
        height: 50px;
        background-color: mediumseagreen;
        text-align: center;
        line-height: 50px;
        font-size: 20px;
      }
    }
    .cardTitle {
      border-top: 15px solid mediumseagreen;
      font-size: 30px;
      height: 80px;
      background-color: cornsilk;
      border-bottom-style: dotted;
      line-height: 60px;
      padding-left: 30px;
    }
    .addBook {
      background-color: cornsilk;
      text-align: right;
      height: 50px;
      border-bottom-style: double;
      padding: 5px 10px;
      font-size: 20px;
      font-weight: bold;
      a {
        color: black;
        text-decoration: none;
        color: rgb(255, 162, 0);
      }
    }
    .booksContents {
      background-color: cornsilk;
      a {
        text-decoration: none;
        color: black;
      }
      .booksColumn {
        border-bottom: 2px solid;
        height: 50px;
        display: flex;
        align-items: center;
        padding: 0 15px;
        font-size: 23px;
        &__started {
          width: 20%;
        }
        &__finidhed {
          width: 20%;
        }
        &__title {
          width: 60%;
        }
        &__author {
          width: 40%;
        }
      }
      .booksData {
        height: 60px;
        display: flex;
        align-items: center;
        border-bottom: 2px solid;
        padding: 0 15px;
        font-size: 18px;
        &__started {
          width: 20%;
          font-size: 15px;
        }
        &__finidhed {
          width: 20%;
          font-size: 15px;
        }
        &__title {
          width: 60%;
          font-weight: bold;
          font-size: 23px;
        }
        &__author {
          width: 40%;
        }
      }
    }
    .footer {
      background-color: cornsilk;
      height: 20px;
    }
  }
}