h2 {
  font-weight: bold;
  font-size: 30px;
  border: double 7px mediumseagreen;
  border-radius: 5px;
  text-align: center;
  line-height: 50px;
  width: 250px;
  height: 60px;
  margin: 50px auto;
}
form {
  text-align: center;
  .field {
    height: 50px;
    margin: 50px auto;
    label {
      font-weight: bold;
      font-size: 20px;
    }
    .inputForm {
      height: 40px;
      width: 300px;
      padding: 10px;
      font-size: 18px;
    }
  }
  .checkField {
    .checkBox {
      transform: scale(1.5);
    }
  }
  .actions {
    margin-bottom: 30px;
    .loginBtn {
      height: 45px;
      width: 100px;
      font-size: 20px;
      font-weight: bold;
      color: white;
      border: none;
      border-radius: 5px;
      background-color: mediumseagreen;
    }
  }
}